@page "/Addilegal"
@using Blazor.Data
@inject SecretoServices objservices
@inject NavigationManager NavigationManager
@inject HttpClient http

<h2>Registro de Casos</h2>
<form row>
    <div class="col-md-8">
        <div class="form-group">
            <label for="placa">Titulo</label>
            <input class="form-control" @bind="objilegal.titulo" />
        </div>
        <div class="form-group">
            <label for="marca">Marca</label>
            <input class="form-control" @bind="objilegal.descripcion" />
        </div>
        <div class="form-group">
            <label for="modelo">Modelo</label>
            <input class="form-control" @bind="objilegal.valor" />
        </div>
        <div class="form-group">
            <label for="color">Color</label>
            <input class="form-control" @bind="objilegal.fecha" />
        </div>
        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input class="form-control" @bind="objilegal.lugar" />
        </div>
        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input class="form-control" @bind="objilegal.latitud" />
        </div>
        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input class="form-control" @bind="objilegal.logitud" />
        </div>
        
    </div>
    <div class="col-md-4">
        <input type="button" class="btn btn-primary" @onclick="Create" value="Guardar" />
        <input type="button" class="btn btn-primary" @onclick="Cancel" value="Cancelar" />
    </div>
</form>
    @code {
        LoginTarea5.Data.SecretosModel objilegal = new Data.SecretosModel();
        protected void Create()
        {
            objservices.Create(objilegal);
            NavigationManager.NavigateTo("Index");
        }
        void Cancel()
        {
            NavigationManager.NavigateTo("Index");
        }

    }